pipeline/CountryRESTToJSON.json
{
	"name": "CountryRESTToJSON",
	"properties": {
		"activities": [
			{
				"name": "ForEachCountry",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SetCountryList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('CountryList')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyCountryData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "rest_country",
									"type": "DatasetReference",
									"parameters": {
										"country": "@item()"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "json_output",
									"type": "DatasetReference",
									"parameters": {
										"filename": "@concat(item(), '.json')"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "SetCountryList",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CountryList",
					"value": [
						"india",
						"us",
						"uk",
						"china",
						"russia"
					]
				}
			}
		],
		"variables": {
			"CountryList": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-08T04:13:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}